<h1>Edit Room</h1>
<form method="POST" action="/rooms/update">
    <div>
      <label>Room Number</label>
      <input type="number" name="roomNum" class="form-control" value="<%= rooms.roomNum %>"  required>
    </div>
    <div>
      <label>Room Type</label>
      <select name="RoomType" class="form-control" id="mySelect"  required>
        <optgroup>
          <option value="<%= rooms.RoomType._id %>"><%= rooms.RoomType.type %></option>
        </optgroup>
        <optgroup label="All Room Types">        
          <%roomTypes.forEach(function(RoomType){%>
            <option value="<%= RoomType._id %>"><%= RoomType.type %></option>
          <% }) %>
        </optgroup> 
      </select>
  </div>
  <input type="hidden" name="id" value="<%= rooms._id %>">
    <button type="submit"  class="btn btn-secondary btn-lg">Edit Room</button>

  </form>