<div>
    <div>
      <h3><%= user.name %></h3>
      <div>
        <h2>Avatar</h2>
        <% if (user.avatar) { %>
            <img src="<%= user.avatar %>" alt="User Avatar">
        <% } else { %>
            <p>No avatar available</p>
        <% } %>
    </div>
      <div>Email Address: <%= user.email %></div>
      <div>Phone Number: <%= user.phoneNum %></div>
    </div>

    <a href="/user/edit?id=<%= user._id %>">Edit</a>
    <br>
  
  
  
  </div>