<div class="userIndexPageCon">

    <div class="logoCon">
  <img class="logos" src="/uploads/git-guardians.png">
  </div>

   <div class="userIndexPage">
  <h1 class="userH1">Users List</h1>
 
  <table class="table table-hover">
    <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Role</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <% users.forEach(function (user) { %>
        <tr>
          <td>
            <img src="<%= user.avatar %>" alt="User Avatar">
          </td>
            <td>
              <a href="/user/detail?id=<%=  user._id %>"> 
              <%= user.name %></a>
            </td>
    
            <td><%= user.email %></td>
            <td><%= user.phoneNum %></td>
            <td><%= user.role %></td>

           <td>
              <a class="link-underline-dark" href="/user/delete?id=<%= user._id %>">
                <button>
                Delete
              </button></a>
          </td>
          
         
          <td><a class="link-underline-dark" href="/user/edit?id=<%= user._id %>">
          <button>
            Edit
          </button></a></td>
  
        </tr>
    <%}) %>
    </table>
</div>
</div>