
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List!</title>
  
</head>
<body>
  <h1>Users List</h1>
 
  <table class="table table-striped">
    <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Role</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    
    <% users.forEach(function (user) { %>
    
        <tr>
          <td>
            <img src="<%= user.avatar %>" alt="User Avatar">
          </td>
            <td>
                <a href="/user/detail?id=<%=  user._id %>"> 
                <%= user.name %></a>
            </td>
    
            <td><%= user.email %></td>
            <td><%= user.phoneNum %></td>
            <td><%= user.role %></td>

           <td><a href="/user/delete?id=<%= user._id %>">Delete</a></td> 
           <td><a href="/user/edit?id=<%= user._id %>">Edit</a></td>
          
        </tr>
        
    <%}) %>
    
    </table>
    

</body>
</html>
