<div class="bookingCon">
  <div class="bookingIndexCon">
  <h1> Rooms Type</h1>

  <table class="table caption-top table-striped">
  <tr class="tableRow">
  <th>Room Name</th>
  <th>Room Price</th>
  <th>Description</th>
  <th>Delete</th>
  <th>Edit</th>
  </tr>
  
  <hr>
  <% roomTypes.forEach(function(roomType) {%>
  
      <tr>
         <td> <a href="/roomType/detail?id=<%= roomType._id %>">
  
           <%= roomType.type %></a></td>
           <td><%= roomType.roomPrice %> </td>
           
           <td><%= roomType.description%> </td>
         <td><a href="/roomType/delete?id=<%= roomType._id %>" class="btn btn-primary">Delete</a></td>
           <td><a href="/roomType/edit?id=<%= roomType._id %>" class="btn btn-primary">Edit</a></td>
            
       
      </tr>
  
  <% }) %>
  
  </table>
  </div>
</div>